.post-container {
  text-align: center;
}

.post-container img {
  width: min(600px, 100%);
}

.post-container h3 {
  margin-bottom: 0.2em;
}

.post-container .tags {
  display: flex;
  justify-content: center;
}

.tags p {
  margin-right: 1em;
}

.tags span {
  font-weight: bold;
}
